{
    "README": "Please copy this file and change the name to config.json, as well as fill out the info below.",
    "token": "inserttokentocontinue",
    "guild": "Guild Name Goes Here",
    "backup": "backupChannelId (int, not a string)",
    "scoreboard": ["list of valid scoreboard channels (ints, not strings)"]
}